.g {
    &-border {
        border: 1px solid var(--color-border);

        &--dashed {
            border: 1px dashed var(--color-border);
        }

        &--dotted {
            border: 1px dashed var(--color-border);
        }
    }
}