.g {

    &-color {
        @each $a, $b, $c in $colors {
            &--#{$a} {
                color: var(--color-#{$a});
            }
        }
    }

    &-background {
        @each $a, $b, $c in $colors {
            &--#{$a} {
                background-color: var(--color-#{$a});
                color: var(--button-text-color-#{$a})
            }
        }
    }

    &-border {
        @each $a, $b, $c in $colors {
            &--#{$a} {
                border-color: var(--color-#{$a});
            }
        }
    }
}