.g {
    &-display-flex {
        display: flex;
    }

    &-display-block {
        display: block;
    }

    &-display-none {
        display: none;
    }

    &-space-between {
        justify-content: space-between;
    }

    /* Alignment */

    &-align-items-center { align-items: center; }
    &-align-items-start { align-items: flex-start; }
    &-align-items-end { align-items: flex-end; }
}